<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbService.Properties.Settings.etalon_crmConnectionString"
            connectionString="Data Source=192.168.3.115;Initial Catalog=etalon-crm;Persist Security Info=True;User ID=sa;Password=1q2w3e4r5t6y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>