<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/${date:format=yyyy-MM-dd}"/>
  <variable name="appName" value="EtalonCrmWeb" />
  <variable name="eventLogSource" value="EtalonCrmWebLogSource" />
  <variable name="eventLog" value="EtalonCrmWebTestLog" />
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
  <variable name="ConsoleLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss}: '${message}'"/>

  <targets>
    <target name="EventLog" xsi:type="EventLog"  layout="${detailedLayout}" source="${eventLogSource}" log="${eventLog}"/>
    <target name="File" xsi:type="File" fileName="${logDirectory}/trace.txt" autoFlush="false" keepFileOpen="true" layout="${detailedLayout}" />
    <target name="Console" xsi:type="ColoredConsole"  layout="${ConsoleLayout}"/>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="File" />
    <logger name="*" minlevel="Debug" writeTo="EventLog" />
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>